USE [BlogEngine.BD]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMMENTS](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[content] [varchar](max) NOT NULL,
	[created_date] [datetime] NOT NULL,
	[post_id] [bigint] NOT NULL,
	[author_user_id] [bigint] NULL,
 CONSTRAINT [PK_comments] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POSTS](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[content] [varchar](max) NOT NULL,
	[created_date] [datetime] NOT NULL,
	[submitted_date] [datetime] NULL,
	[published_date] [datetime] NULL,
	[rejected_date] [datetime] NULL,
	[author_user_id] [bigint] NOT NULL,
	[appover_user_id] [bigint] NULL,
	[deleted_date] [datetime] NULL,
	[status] [int] NULL,
 CONSTRAINT [PK_Post] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](20) NOT NULL,
	[role] [int] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[COMMENTS]  WITH CHECK ADD  CONSTRAINT [FK_COMMENTS_POSTS] FOREIGN KEY([post_id])
REFERENCES [dbo].[POSTS] ([id])
GO
ALTER TABLE [dbo].[COMMENTS] CHECK CONSTRAINT [FK_COMMENTS_POSTS]
GO
ALTER TABLE [dbo].[COMMENTS]  WITH CHECK ADD  CONSTRAINT [FK_COMMENTS_USERS] FOREIGN KEY([author_user_id])
REFERENCES [dbo].[USERS] ([id])
GO
ALTER TABLE [dbo].[COMMENTS] CHECK CONSTRAINT [FK_COMMENTS_USERS]
GO
ALTER TABLE [dbo].[POSTS]  WITH CHECK ADD  CONSTRAINT [FK_POSTS_USERS_APPROVER] FOREIGN KEY([appover_user_id])
REFERENCES [dbo].[USERS] ([id])
GO
ALTER TABLE [dbo].[POSTS] CHECK CONSTRAINT [FK_POSTS_USERS_APPROVER]
GO
ALTER TABLE [dbo].[POSTS]  WITH CHECK ADD  CONSTRAINT [FK_POSTS_USERS_AUTHOR] FOREIGN KEY([author_user_id])
REFERENCES [dbo].[USERS] ([id])
GO
ALTER TABLE [dbo].[POSTS] CHECK CONSTRAINT [FK_POSTS_USERS_AUTHOR]
GO
